<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Playing Field Map for DPM</title>
    <link rel="stylesheet" href="assets/bootstrap.min.css"></style>
    <script type="text/javascript" src="assets/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/vue.min.js"></script>
    <script type="text/javascript" src="assets/xmlToJson.js"></script>
    
    <script type="text/javascript" src="grid-creator.js"></script>
    <script type="text/javascript" src="playing-field.js"></script>
    
</head>
<body>

<!-- Place this canvas wherever, just make sure to remember its 'id' for the GridCreator -->
<canvas id="competition-field" width="600" height="360" style="border:1px solid #d3d3d3;">
    Your browser does not support the HTML canvas tag.</canvas>


<div id="app" class="container-fluid">
    <!-- Popup window for pasting in an xml layout -->
    <div class="modal fade" id="pasteXmlModal" tabindex="-1" role="dialog" aria-labelledby="pasteXmlModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pasteXmlModalLabel">Paste in the XML Layout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Text Area for xml data -->
                    <div class="form-group">
                        <label for="xmlModalTextInput">Write your layout here, then confirm:</label>
                        <textarea class="form-control" id="xmlModalTextInput" rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-warning text-white" onclick="document.getElementById('xmlModalTextInput').value = '';">Clear Text</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="pasteXmlModalConfirm" class="btn btn-primary" data-dismiss="modal" onclick="parseXmlToInputs(document.getElementById('xmlModalTextInput').value);">
                        Confirm Layout
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Create the input elements -->
    <span class="row ">
        <span class="col-lg-4 col-md-12 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">DPM Playing Field Map</h5>
                    <p class="card-text">
                        This map is designed to assist students of DPM to visualize 
                        the possible layouts of the virtual playing field for their assignments.
                        This layout may not be consistent with official specifications, and will 
                        be updated when changes are made.
                    </p>
                    <p class="card-text"><em>Note: LL is for "Lower Left", and UR is for "Upper Right"</em></p>
                </div>
            </div>
        </span>
        <span class="col-lg-4 col-sm-6 my-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" class="btn btn-dark border display-block" onclick="parseXmlFileToInputs('xmlLayouts/'+app.exampleXMLFilename);">Load Example Layout</a>
                </li>
                <li class="list-group-item">
                    <div class="input-group flex mb-1">
                        <div class="custom-file">
                            <label class="custom-file-label" for="xmlFileLayout" id="xmlFileLayoutLabel">Choose XML file</label>
                            <input type="file" class="custom-file-input" id="xmlFileLayout" onchange="xmlFileLayoutOnChange(this.files[0].name);"  aria-describedby="xmlFileLayoutPre">
                            <script>
                                function xmlFileLayoutOnChange(name) {
                                    document.getElementById('xmlFileLayoutLoad').classList.remove('disabled');
                                    document.getElementById('xmlFileLayoutLabel').innerHTML = name;
                                    parseXmlFileToInputs(document.getElementById('xmlFileLayout').files[0]);
                                }
                            </script>
                        </div>
                    </div>
                    <a href="#" id="xmlFileLayoutLoad" class="btn btn-light border disabled display-block" onclick="parseXmlFileToInputs(document.getElementById('xmlFileLayout').files[0]);">
                        Reload Chosen File
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-light border display-block mb-1" id="xmlFileDownload">Download Current Layout</a>
                </li>
            </ul>
        </span>
        <span class="col-lg-4 col-sm-6 my-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="btn btn-light border display-block mb-1" data-toggle="modal" data-target="#pasteXmlModal">Paste in a Layout</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-light border display-block mb-1" onclick="if(confirm('Reset Map?'))valueTracker.resetElementsToDefault();">Reset All Values</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-light border display-block mb-1" onclick="copyToClipboard(valueTracker.createValueBasedXML())">Copy Layout to Clipboard</a>
                </li>
            </ul>
        </span>
    </span>

    </span>
    <div class="row"> 
        <team-input v-for="(properties, title) in playingFieldSetup.team_inputs" v-bind:title="title" v-bind:min="properties.min" v-bind:max="properties.max"></team-input>
        <corner-input v-for="(properties, title) in playingFieldSetup.corner_inputs" v-bind:title="title"></corner-input>
    </div>
    <area-input v-for="(properties, title) in playingFieldSetup.area_inputs" v-bind:title="title" v-bind:min="properties.min" v-bind:max="properties.max"></area-input>
    
</div>

</body>
<style>
    .display-block {
        display:block;
    }
    .disabled:hover {
        cursor: not-allowed;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
    }
    .border-1 {
        border: 1px solid black;
    }
    canvas {
        margin-left: auto;
        margin-right: auto;
        display:block;
    }
    body {
        width: 100%
    }
    @media only screen and (max-width: 700px){
        canvas {
            width:80%;
        }
    }
</style>
<script type="text/x-template" id="area-input-template">
    <div class="row">
        <span class="col-lg-3 col-sm-6 col-md-6 border" v-for="part in parts">
            <!-- Define the input of tile area coordinates -->
            <label v-bind:for="title+part">{{title+part}}</label>    
            <input class="pl-auto" v-bind:id="title+part" v-bind:name="title+part" type="number" v-bind:min="min" v-bind:max="max" />
        </span>
    </div>
</script>
<script type="text/x-template" id="corner-input-template">
    <div class="col-lg-3 col-sm-6 col-md-6 border">
        <label v-bind:for="title">{{title}}</label>
        <select v-bind:id="title" v-bind:name="title">
            <option v-for="part in parts" v-bind:value="part">{{part}}</option>
        </select>
    </div>
</script>
<script type="text/x-template" id="team-input-template">
    <div class="col-lg-3 col-sm-6 col-md-6 border">
        <label v-bind:for="title">{{title}}</label>
        <input v-bind:id="title" v-bind:name="title" type="number" v-bind:min="min" v-bind:max="max" />
    </div>
</script>
<script>
// Define a new component called area-input
Vue.component('area-input', {
    props: ['title','min','max'],
    template: '#area-input-template',
    data: function () {
        return {
            parts: ["_LL_x","_LL_y","_UR_x","_UR_y"]
        }
    }
})
Vue.component('corner-input', {
    props: ['title'],
    template: '#corner-input-template',
    data: function () {
        return {
            parts: [0,1,2,3]
        }
    }
})
Vue.component('team-input', {
    props: ['title','min','max'],
    template: '#team-input-template',
    data: function () {
        return {
        }
    }
})
let playingField = new GridCreator("competition-field",15,9,2);
let valueTracker;
let app = new Vue({
    el: '#app',
    created: function() {
        this.loadPlayingFieldSetup(this.setupFilename)
    },
    data: {
        // set to your own file for the playing field design.
        // can change during execution, then run loadPlayingFieldSetup
        setupFilename: 'setup_w2020.json', 

        // set to example setup for the playing field.
        // can be changed during execution
        exampleXMLFilename: 'example-layout-w2020.xml', 

        // don't change this, it should stay empty
        playingFieldSetup : {} 
    },
    methods: {
        loadPlayingFieldSetup : function(filename = null) {
            let vm = this;
            valueTracker = new InputValueTracker();
            fetch("playingFieldSetups/"+filename).then(res => res.json()).then(data => {
                vm.playingFieldSetup = data;
                return data;
            }).then(data => {
                let area_parts = vm.playingFieldSetup.area_parts;
                for (let team_input in vm.playingFieldSetup.team_inputs) {
                    valueTracker.addElementId(team_input, vm.playingFieldSetup.team_inputs[team_input]);
                }
                for (let corner_input in vm.playingFieldSetup.corner_inputs) {
                    playingField.addPointIdentifier(corner_input, vm.playingFieldSetup.corner_inputs[corner_input].color);
                    valueTracker.addElementId(corner_input, vm.playingFieldSetup.corner_inputs[corner_input]);
                }
                for (let area_input in vm.playingFieldSetup.area_inputs) {
                    playingField.addAreaIdentifier(area_input, vm.playingFieldSetup.area_inputs[area_input].color);
                    for (let i = 0; i < area_parts.length; i++){
                        valueTracker.addElementId(area_input + area_parts[i], vm.playingFieldSetup.area_inputs[area_input]);
                    }
                }
                valueTracker.resetElementsToDefault()
            })
            .catch(err => console.error(err));
        }
    }
});

(function() {
    var textFile = null
    var makeTextFile = function (text) {
        var data = new Blob([text], {type: 'text/plain'});

        // If we are replacing a previously generated file we need to
        // manually revoke the object URL to avoid memory leaks.
        if (textFile !== null) {
            window.URL.revokeObjectURL(textFile);
        }

        textFile = window.URL.createObjectURL(data);

        return textFile;
    };

    var _downloadButton = document.getElementById('xmlFileDownload')
    
    var obj = this;
    _downloadButton.addEventListener('click', function() {
      // Download the file
      var link = document.createElement("a");
      link.download = 'playing_field_layout.xml';
      link.href = makeTextFile(valueTracker.createValueBasedXML()); // TODO: Include xml data
      link.click();
    }, false);
})();
    


// Adding new corner markers
// playingField.addPointIdentifier("RedCorner","red");
// playingField.addPointIdentifier("GreenCorner","green");

// Adding new areas, using 'id'
// playingField.addAreaIdentifier("Red","red");
// playingField.addAreaIdentifier("Green","green");
// playingField.addAreaIdentifier("Island","yellow");
// playingField.addAreaIdentifier("TNR","purple");
// playingField.addAreaIdentifier("TNG","blue");
// playingField.addAreaIdentifier("SZR","red");
// playingField.addAreaIdentifier("SZG","green");

// Just a continuously running function to update the tiles
setInterval(function() {
    playingField.updateCanvas();
}, 200);
</script>
</html>